[2018-01-07 11:08] swsnr opened #1 "Figure out how to deal with footnotes"

[2018-01-07 11:08] swsnr opened #2 "Render tables"
Need a good library to render tables to TTY?

[2018-01-07 11:08] swsnr opened #3 "Figure out what to do with HTML"

[2018-01-07 12:51] lunaryorn opened #4 "Wrap text to column limit."
Use `textwrap`, perhaps, to wrap all content to the column size of the TTY.

Will perhaps be tricky with termion formatting characters.

[2018-01-14 21:45] lunaryorn opened #5 "Auto-set highlight theme according to background colour"
Auto-detect light/dark background colour and use solarized light or dark accordingly.

iTerm2 unfortunately only exposes `$COLORFGBG` for this purpose, but not the the more reliable xterm escape sequence, see <https://gitlab.com/gnachman/iterm2/issues/4953>.

[2018-01-16 08:01] lunaryorn opened #6 "Replace termion with ansi_term"
The latter provides a better structure to manage styles.

[2018-01-16 19:13] #6 closed

[2018-01-21 16:48] #5 closed

[2018-01-22 18:25] zbraniecki opened #7 "Rely to cat if not .md file?"
If `mdcat` could rely the command to `cat` in case the file is not an `.md` file then `mdcat` could be just used as an alias for `cat`.

[2018-01-22 19:26] lunaryorn commented on #7
Thanks for your suggestion 😊

I’m not sure, though; I’d like to keep this tool simple and focused on Markdown.

Can’t you wrap a shell script around cat and mdcat for this purpose?

[2018-01-22 20:27] aatxe commented on #7
This issue inspired me a bit, and I wrote a little function for the fish shell to wrap cat:
https://github.com/aatxe/dotfiles/blob/master/fish/functions/cat.fish

[2018-01-22 20:34] Turbo87 opened #8 "Render hyperlinks as hyperlinks in iTerm"
according to https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda it should be possible to render hyperlinks as actual hyperlinks in iTerm

[2018-01-22 20:59] lunaryorn commented on #8
Woa thanks for making me aware 👍  It’s even documented at https://www.iterm2.com/documentation-escape-codes.html but I totally missed it.

Will add this, that’s so cool 😍

[2018-01-22 22:20] wezm opened #9 "AUR Package"
Just a heads up that I've created a [PKGBUILD for the Arch User Repository](https://aur.archlinux.org/packages/mdcat/) to make it easy for Arch Linux users to install `mdcat` with their system package manager. You may like to add a note to the README like the one I added for [alt](https://github.com/uptech/alt#arch-linux).

[2018-01-23 07:40] lunaryorn commented on #7
@aatxe Cool 👍 I'm using Fish as well.  Are you aware of the `string` built-in?  You can use `string match -rq -- '^-' $arg` instead of `echo $arg | grep` and save a sub-process 🙂

[2018-01-23 07:56] #9 closed

[2018-01-23 07:57] lunaryorn commented on #9
@wezm Thanks; I added a link to the AUR page to the README.

[2018-01-23 07:59] lunaryorn opened #11 "Some refactorings"
- [x] Drop structopt in favour of plain clap.
- [x] Compute the TTY width first and use it as explicit default for `--columns` to make it appear in `--help`.
- [x] Add `impl Format` with methods that denote whether a certain format supports inline images and ANSI colours, to be able to easily extend with new formats.

[2018-01-23 20:08] #11 closed

[2018-01-25 08:16] lunaryorn opened #12 "Extend terminal support"
Figure out whether other terminal emulators support iTerm2 features and extend the list of supported terminals accordingly.

[2018-01-25 14:36] vinipsmaker commented on #12
The terminal I use also supports images, but it uses its own escape sequences: https://github.com/billiob/terminology

Maybe it's simply enough that you guys could implement it.

[2018-01-25 14:38] lunaryorn commented on #12
I'd appreciate a pull request, to be honest; I can't test that terminal myself.

[2018-01-25 18:32] zbraniecki commented on #7
I'm on .zsh, and I'm afraid that having to write a script per shell is ok, but not the easiest route. :) And since `mdcat` doesn't really handle non-md files, I think that relying to the default handler shouldn't increase complexity?

But up to the package author. Feel free to close this issue if that's not a feature you're interested in adding.

[2018-01-25 18:46] lunaryorn commented on #7
@zbraniecki I think I'll close this then.

I understand that a custom script isn't very convenient; but I'd rather like to keep it simple to be able to maintain it in my limited time.  Perhaps if anyone can come up with a pull request that doesn't add too much code, I'd take a look, but personally I don't need this feature—I use less and lesspipe for other files—so I'd rather not spend my time on

[2018-01-25 18:46] #7 closed

[2018-01-26 08:13] #8 closed

[2018-01-26 08:14] lunaryorn opened #13 "Update showcase screenshots to include inline links"
Follow-up from #8

[2018-01-26 08:15] lunaryorn opened #14 "Turn relative references into inline links"
If we can't parse a URL, figure out whether it's a relative path, and if so, turn it into a `file:` URL relative to the `base_dir` of the markdown file.

Follow up from #8.

[2018-01-26 08:15] lunaryorn commented on #8
@Turbo87 Added; many thanks for the suggestion!

[2018-01-26 22:22] #13 closed

[2018-01-27 09:20] lunaryorn opened #15 "Enable inline links on VTE terminals"
VTE 0.50 or newer supports this feature; we can use `$VTE_VERSION` to detect it, it should like `50xx`.

[2018-01-27 10:30] #15 closed

[2018-01-27 11:10] #14 closed

[2018-02-01 17:45] tailhook opened #18 "Any chance this utility published as a library?"
The plan is to use it to provide some markdown formatting in command-line utilities.

What do you think?

[2018-02-02 08:53] lunaryorn commented on #18
@tailhook I can make a lib crate of it, and expose the entry function, but I'd rather not like to think about a useful API or make any promises about compatibility.  Honestly, to me that's too much effort for such a small tool.

[2018-02-02 08:58] lunaryorn commented on #18
If you have a concrete idea where you'd like to use this tool as a library then we can look into it, but I won't publish mdcat as a library just because I could.

[2018-02-07 16:02] tailhook commented on #18
Sorry for being unresponsive. The idea I had in mind is:
1. Use it in complex command-line utilities, athough I'm not sure that clap will adopt it
2. Use it in [vagga](https://vagga.readthedocs.org) where users define commands and commands are often non trivial, requiring some descriptions

However, I'll probably hack some prototype before actually doing any work in this library.

[2018-02-07 16:09] lunaryorn commented on #18
@tailhook I do not believe that either of these should use mdcat, and personally I'd not like to have to consider these use cases in mdcat.

I'd just like to use mdcat to quickly view and navigate a markdown README in my terminal for looking up some stuff, and that's basically the entire scope of this tool.  Having to consider other use cases is already too much work for me to be honest.

[2018-02-07 16:14] tailhook commented on #18
Basically I need some markdown to "escape-codes" formatter. So do you recommend just fork this code?

[2018-02-07 16:26] lunaryorn commented on #18
Yes, perhaps, if it suits your needs I don't mind if you fork it under the terms of its license.  But it's in an early stage, and doesn't format all well.

Personally, tho, I think better formats exist to provide help.  If you'd like to stick to text at least go for man pages which—unlike mdcat—provide some basic cross-referencing—pandoc can turn markdown into man pages—but I believe a good HTML m

[2018-02-07 20:52] #18 closed

[2018-02-07 20:54] lunaryorn commented on #18
@tailhook Okay, I made `mdcat` a library crate because it helps me as well to get an idea of what I'm doing.  So the next release provides an `extern crate mdcat` with a minimal interface.

Feel free to use, but please understand that I make no guarantees about that interface yet and that I'll change the interface whenever I need it to make my changes to `mdcat`.

[2018-02-07 22:13] tailhook commented on #18
No problem. Just make sure to bump major version every time you break the API :)

[2018-02-07 22:17] lunaryorn commented on #18
@tailhook I'll adhere to semantic versioning, so as long as `mdcat` is still at 0.x please do not assume the API is stable.  It may change at any time, even in patch releases. I'll won't make any promises before 1.0 🙂

[2018-02-11 18:49] frcl commented on #2
The [prettytable](https://crates.io/crates/prettytable-rs) is quite nice. The default rendering style is orgmode like, but I recently discoverd that with its formatting features and a few special characters you can do somethinng like this:

[code]
That will print the table like this:
[code]
(In the terminal it looks nicer. I get gaps between lines in the browser, which shouln't be there.)

[2018-02-12 14:53] lunaryorn commented on #2
Thanks for the pointer, @frcl, I'll take a look.

[2018-02-13 19:28] Byron opened #19 "`mdcat` as library?"
I am currently working on `terminal playback` for `mdbook` documentation (see [reddit][reddit-post]), and am wondering if I can contribute to this program.

Something I would need is the separation between CLI and library, to allow me using said library.

Should I go ahead and prepare a PR?

[reddit-post]: https://www.reddit.com/r/rust/comments/7xbvzj/introducing_termbook_10_mdbook_with_execution/

[2018-02-14 18:28] lunaryorn commented on #19
See #18 🙂

[2018-02-14 20:18] shiroyasha opened #21 "First character in title is crossed"
Example screenshot for the 'CommonMark' header:

![screen shot 2018-02-14 at 9 15 28 pm](https://user-images.githubusercontent.com/1779493/36225837-4373e406-11cc-11e8-92c3-f927a35081bb.png)

Some info that might help:

- iTerm2 Build 3.1.5
- 15pt Monaco font
- Built in Pasted color scheme
- tmux inside of a vagrant ubuntu image

[2018-02-14 20:22] shiroyasha opened #22 "Highlighting for quotes does not behave as in the example in the README"
Screenshot example:

![screen shot 2018-02-14 at 9 21 01 pm](https://user-images.githubusercontent.com/1779493/36226049-02dbb76a-11cd-11e8-9032-4189cae8f3dd.png)

My configuration is:

 - iTerm2 Build 3.1.5
 - 15pt Monaco font
 - Built in Pasted color scheme
 - tmux inside of a vagrant ubuntu image

[2018-02-14 20:38] shiroyasha commented on #21
Found some similar issues on the internet https://github.com/schachmat/wego/issues/5.

The issue seems to be related to the Monaco font as I can reproduce the issue with `echo "\u2504CommonMark"` in my terminal.

[2018-02-15 07:54] lunaryorn commented on #22
Hi, thanks for reporting this issue.  I think tmux causes this—it interprets and perhaps changes escape sequences.  Perhaps `mdcat` does something wrong, too, but I must admit that since I it works for me and I don't use tmux a lot, I don't feel like digging deeper.

I'm open for a pull request, but please understand that I don't want to fix this issue by myself.  Sorry.

[2018-02-15 08:01] lunaryorn commented on #21
@shiroyasha I think the font's at fault… u2504 is a standard box character which should not extend into the next character, and no other font I tried (Menlo, Fira Mono, Source Code Pro, Hasklig, Courier New, and Pragmata Pro) behaves this way.

I don't think there's anything to fix in mdcat here.

[2018-02-24 17:32] alexeikh opened #26 "Support AsciiDoc"
It would be nice to support AsciiDoc, which is a Markdown-like language:

https://asciidoctor.org/docs/what-is-asciidoc/#what-is-asciidoc

[2018-02-24 19:15] lunaryorn commented on #26
I’m am sorry m but to me that’s wholly out of scope.  I won’t add anything other than Markdown to this tool.

[2018-02-24 19:15] #26 closed

[2018-02-25 16:50] #21 closed

[2018-04-09 12:30] lunaryorn commented on #22
I'm closing this issue as wontfix now.

[2018-04-09 12:30] #22 closed

[2018-04-24 01:39] PerBothner commented on #12
DomTerm (https://domterm.org) supports not only inline images and links but also inline html.
In fact following works pretty well as an mdcat substitute:

    cmark -t html common-mark.md | domterm hcat

The main issue with the above pipeline is the relative URLs aren't handled well at this point (though I'm thinking of the best way to deal with it).

The `domterm hcat` command is basically trivia

[2018-04-24 01:41] PerBothner commented on #3
As mentioned in my comment to issue #12, [DomTerm ](https://domterm.org) has an escape sequence for handlng inline html, which makes this issue trivial.

[2018-04-24 05:40] lunaryorn commented on #3
@PerBothner Thanks, that's very cool, but we'll still need to figure out how to support other terminal emulators.  At least, we must limit the special DomTerm escape codes to DomTerm and not use them on other emulators.

Is there a way to detect whether a program runs in DomTerm?  Some environment variable perhaps?

[2018-04-24 05:46] lunaryorn commented on #12
@PerBothner I can add support for DomTerm to the inline HTML code—though I don't have much time and would prefer a pull request.

But I wonder whether I need to:  If DomTerm supports HTML why not use one of the many Markdown-to-HTML converters instead?  🤔

These tools produce leverage the full syntax of HTML and normally produce much better output than `mdcat` with its limitation to ASCII formatti

[2018-04-24 05:50] PerBothner commented on #3
As I mentioned in issue #12, the quick-and-dirty (and probably good enough) way is to check for a `DOMTERM` environment variable.

For a more robust test, see [this discussion](http://domterm.org/Shell-prompts.html).

[2018-04-24 05:54] lunaryorn commented on #3
@PerBothner Thanks, I read your comment there right after I wrote the answer 🙈

[2018-04-24 06:12] PerBothner commented on #12
Two reasons I can think of:

1. If you intend mdcat as a general portable tool for "do as good a job as you can" to display MarkDown on the current terminal, it would be better if it would do the right thing without the user having to create a wrapper script to handle both DomTerm and "other terminals".

2. There is the issue of how to handle relative URLs - especially for images - in the source.

[2018-05-28 14:28] lunaryorn opened #28 "Auto-publish binaries"
Whenever we make a tag auto-build executable packages for the following platforms

- [x] macOS (Travis CI?)
- [x] Linux (Travis CI)
- [x] Windows (AppVeyor?)

[2018-05-28 15:58] lunaryorn opened #29 "Build against musl on Linux"
We can then provide static binaries for Linux, but we must get rid of rust-native-tls and its openssl dependencies, which likely implies getting rid of reqwest, too :unamused:

Perhaps there's an alternative.

[2018-05-28 19:58] lunaryorn opened #30 "Build for Windows on AppVeyor"

[2018-05-29 07:27] lunaryorn opened #31 "Auto-publish crate on Travis CI"
Rework publish process.  Instead of relying on `cargo-release` make a custom script to

1. check Travis CI state for current commit,  If successful,
2. update the changelog
3. make a release commit and tag it,
4. push commit and tag.

Then add a new job to the `release` stage to publish the crate to crates.io automatically.

This script should also cut the current release info from the changelog a

[2018-05-29 07:42] lunaryorn opened #32 "Figure out how to deal with clippy"
It frequently breaks on nightly, but if it doesn't it offers valuable insights, so how can we keep it while not making it fail our build?

[2018-05-30 08:32] #32 closed

[2018-06-05 20:59] lunaryorn commented on #31
See https://users.rust-lang.org/t/how-to-automate-custom-build-tasks-eg-releases/17904/2 and https://matklad.github.io/2018/01/03/make-your-own-make.html for how to write a custom Cargo task.

[2018-08-24 23:35] #30 closed

[2018-08-26 11:14] #28 closed

[2018-09-07 20:40] lunaryorn opened #37 "Make remote resources an optional feature"
Let people build an `mdcat` that won't make any network requests, and make the `reqwest` dependency optional so that we can build a static Linux binary w/ musl.

[2018-09-09 13:34] #37 closed

[2018-09-09 15:17] #29 closed

[2018-09-11 18:39] j1mmie opened #39 "Feature request: Color output when paginated (with less, for example)"
When using `mdcat` with `less`, colors are lost. For example:

`curl https://raw.githubusercontent.com/lunaryorn/mdcat/master/README.md | mdcat | less`

![image](https://user-images.githubusercontent.com/4650220/45380016-7667f580-b5b6-11e8-965c-12313e917be1.png)

Note that `mdcat` correctly provides full color support for this document if `less` is omitted:

`curl https://raw.githubusercontent.com

[2018-09-11 19:35] lunaryorn commented on #39
`mdcat` won't print terminals if piped; that's like most commands behave as far as I know.

You can make it print colours with `mdcat --colour=yes`, but it'll still loose some terminal specific formatting, ie, links or iTerm2 jump marks.

I'll merge a PR that makes `mdcat` always print colours or adds more sophisticated behaviour w/ `less`, but personally I don't care a lot to be honest.  I almost

[2018-09-12 21:37] j1mmie commented on #39
Thanks for taking a look - yeah it's not high priority by any means. Maybe some others will find this request and +1 it, but until then there are sufficient workarounds

[2018-09-12 21:39] j1mmie commented on #39
For posterity, the correct command to get colors in less then is:

`curl https://raw.githubusercontent.com/lunaryorn/mdcat/master/README.md | mdcat --colour=yes | less -r`

[2018-09-12 21:40] #39 closed

[2018-09-22 18:38] aeosynth commented on #12
to add another terminal, kitty created its own graphics protocol:

https://sw.kovidgoyal.net/kitty/index.html
https://sw.kovidgoyal.net/kitty/graphics-protocol.html

perhaps you could use the ranger tui file manager as a rosetta stone; it supports drawing images in iterm2, terminology, urxvt, and kitty

https://github.com/ranger/ranger
https://github.com/ranger/ranger/blob/master/ranger/ext/img_di

[2018-09-22 21:13] lunaryorn commented on #12
Thanks but I won’t add that myself.  I don’t have the time.

I’m closing this issue; I don’t intend to add further terminal emulators myself.

Please open a pull request to add support for this terminal emulator if you like.

[2018-09-22 21:13] #12 closed

[2018-09-24 16:57] bahamas10 opened #40 "mdless bash function"
hey, first of all I love `mdcat` and rely on it heavily when writing documentation my workstation - it's a great way to get a quick glance at how a document will look when rendered without having to rely on a web browser or even leaving the terminal.

This isn't so much an issue, as it is just an idea for adding a note or something to the README.

I have a function in my bashrc that I use almost e

[2018-10-01 22:20] matthiasbeyer opened #41 "0.8 -> 0.10 update broke my codebase"
First of all: The title is a bit misleading. Of course a minor-version update is allowed to introduce breaking change and of course I'm not complaining about that, it is totally fine.

Second: I do not know whether this can be fixed _at all_, depending on what you want to do and where you want to go with that crate. So this is more of a feedback than of a real issue or a change request. Please do

[2018-10-02 18:12] lunaryorn commented on #41
Thanks for your feedback.  I'm sorry that my changes broke your code, but as hard as it sounds, I can't help you.  I wrote mdcat for myself, as a simple CLI tool, and that's all I want from it, and just don't want to spent my time on someone else's use cases.  I'm sorry but you're on your own if you're using mdcat as a library in your own code.

I can try to help you a bit but please understand th

[2018-10-04 14:19] matthiasbeyer commented on #41
I'm completely fine with that! I expected that reply! :smile:

Because `push_tty` takes ownership of the first parameter. The context is that I have a functor which I apply for each output, I do not pass all output to one `push_tty` call... the architecture of the whole ecosystem does not allow that (on purpose tho).

That's also why I need a new instance for each iteration.

Because of the `Box<_

[2018-10-04 14:59] lunaryorn commented on #41
I see.  Perhaps push_tty doesn’t need to take ownership?  I didn’t give much thought about it 💁‍♂️

Feel free to take a look, I’ll accept a pull request that improves the API 😊

[2018-10-04 15:36] matthiasbeyer commented on #41
I had a look. It is hard to rewrite everything so that `push_tty` gets a `&mut`... Maybe I'll succeed... don't know.

[2018-10-04 18:30] #41 closed

[2018-10-04 18:32] lunaryorn commented on #41
@matthiasbeyer I don't know, the change was rather simple 🤷‍♂️   In the next release `push_tty` won't take ownership of the `terminal` anymore.

[2018-10-25 20:59] lunaryorn commented on #41
@matthiasbeyer 0.11 is out.  Would appreciate feedback whether the changed API suites your needs now.

[2018-10-26 06:03] lunaryorn opened #42 "Include hostname in file:// URLs"
See https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

[2018-10-26 06:03] lunaryorn opened #43 "Set ID on OSC 8 links"
See https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

[2018-10-26 13:18] matthiasbeyer commented on #41
Well yeah, I was able to update from 0.8 to 0.11. Thanks!

[2018-10-26 13:35] lunaryorn commented on #41
You’re welcome 🙂

[2018-11-13 20:49] lunaryorn opened #46 "Test w Rust 2018"
See https://blog.rust-lang.org/2018/10/30/help-test-rust-2018.html

[2018-11-13 22:33] #42 closed

[2018-12-08 05:00] mmstick opened #47 "Update reqwest dependency"
Each project that uses this crate is being forced to use reqwest 0.8.8, which uses an older version of the openssl crate that won't compile on most Linux distributions today. Any Linux distribution with libssl 1.1.1 or higher is unable to compile this.

[2018-12-08 07:49] lunaryorn commented on #47
master uses reqwest 0.9 already 🙂 so I’ll close this issue.

[2018-12-08 07:49] #47 closed

[2018-12-08 15:57] mmstick commented on #47
Make sure to publish a new release. There's some applications that I can't yet compile or package yet (`imag`) because the version on Crates.io isn't using reqwest 0.9.

[2018-12-08 16:12] lunaryorn commented on #47
There are just two reverse dependencies according to crates.io, one of which still at a really old version of mdcat, and no folks from those crates or from any Linux Distel or anywhere ever said anything. I wasn’t aware that anyone actually cared for a release. 🙂

 I’ll publish a new one, but it won’t be this year.  I’m sorry 😔 but family time is just way more important to me than this thing here.

[2018-12-08 20:12] mmstick commented on #47
I'm not sure if [imag](https://github.com/matthiasbeyer/imag) is published on Crates.io.

Well now you have :stuck_out_tongue_closed_eyes: I'm the maintainer of Pop!\_OS. I can't build imag at the moment for 18.10 without forking it to replace the dependency at the moment.

[2018-12-08 20:35] lunaryorn commented on #47
You’ll have to do this then 🤷‍♂️ I’m sorry but with Christmas ahead I just don’t want to take time for this currently.

[2018-12-13 09:48] #46 closed

[2018-12-14 12:56] lunaryorn commented on #43
Looks like we don't need to do this; we are a ["simple tool that just prints stuff"](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda#hover-underlining-and-the-id-parameter):

[2018-12-14 12:56] #43 closed

[2018-12-20 19:41] #31 closed

[2018-12-20 21:43] rien333 opened #48 "Feature Request: Themes/color control"
Any way to change the color output? By default, my html comments are green, which for longer comments makes them quite hard to read in my theme (which might be partly due to my theme being at fault; nonetheless, being able to change it from green could improve readability under some circumstances)

Themes would be a more general solution, but an option that allows for more fine-grained control of

[2018-12-21 08:34] lembacon opened #49 "`0.12.0` breaks `--no-colour`"
Provided a file named `test.md` with the following contents:

[code]

With mdcat 0.11.0, `mdcat --no-colour test.md` outputs `lorem ipsum dolor sit amet` which is expected.

However, with mdcat 0.12.0, `mdcat --no-colour test.md` outputs the following:

[code]

which seems unexpected.

[2018-12-21 08:46] lunaryorn commented on #49
I don’t know, I don’t use —no-colour myself.  I refactored a lot and perhaps I broke it.

I’ll fix this at some point perhaps, but not anytime soon.  I’m sorry but as said I don’t use this myself, and I just don’t have time for this now.

[2018-12-24 11:31] lunaryorn commented on #49
@lembacon Oh, this was a very stupid mistake of mine 🤦‍♂️  I fixed it and added a test to hopefully not break it again.  I'm about to release 0.12.1 with the fix included, so you can update the Homebrew formula again.

Sorry for the hassle 😞

[2018-12-24 11:32] lembacon commented on #49
Thanks for the fix!

[2018-12-26 22:28] l4l opened #50 "Pager support"
Would be nice to support system pager and redirect stdout to it. Probably by default it is nice to handle big output via that pager, if specified and works.

It should probably look like `Command::new(env::var("PAGER")?).stdin(Stdio::piped()).spawn()`

[2018-12-27 09:00] lunaryorn commented on #50
Thank you for this suggestion, but I would not like mdcat to use a pager.  I don’t use less and would not like my tool have a default behaviour that doesn’t match my personal preferences.

I’m fine with separate executable, eg mdless, using a pager, but I won’t add it myself.  Pull requests welcome.

[2018-12-27 11:48] lunaryorn commented on #48
I think I’ll make mdcat use syntect themes for colouring and styling and add means to change the theme via env vars, like bat does it.  This would also simplify code a bit.

Would this work for you?

[2018-12-27 15:13] rien333 commented on #48
Sure it would!

[2018-12-29 11:41] lunaryorn commented on #48
Great.

Note to self: Use appropriate markdown scopes for elements in rendered output; see [Markdown syntax definition](https://github.com/sublimehq/Packages/blob/master/Markdown/Markdown.sublime-syntax) for a list of possible scopes.

[2019-01-05 23:45] rien333 opened #54 "Allow file list as input"
`cat` allows you to print multiple files:
[code]

Would be cool if `mdcat` would be compatible with `cat` in this way. A neat addition of this feature would be that you can cat files that adhere to a regex pattern, so you can for example cat all notes pertaining to some author:
[code]

[2019-01-06 12:44] lunaryorn commented on #54
I’ll merge a pull request which adds this feature.

[2019-01-07 08:43] lunaryorn commented on #48
We’ll also want to check COLORTERM for 24bit support and use ansi_colours to convert to 256 bit colours if the terminal doesn’t support true colours.

[2019-01-16 15:09] emersion commented on #50
I had a script called `mdless`:

[code]

However that broke with a new `mdcat` release. Would you accept to add back a way to force colors?

[2019-01-16 15:33] lunaryorn commented on #50
That’s the default behaviour now.  You don’t need that flag anymore.

[2019-01-16 15:40] emersion commented on #50
Indeed, works -- thanks!

[2019-01-31 14:13] Depau opened #60 "Support for Tilix"
Tilix is known to support hyperlinks in terminal, according to [this gist](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda). However mdcat 0.12.1 is not displaying links inline.

Is it possible to add support for Tilix's features?

[2019-01-31 14:52] lunaryorn commented on #60
I have inline links with tilix 1.8.1.

Tilix uses VTE under the hood; mdcat supports inline links in all VTE based terminals.

I don’t know why it’s not working in your case, maybe your tilix version is too old, maybe you disabled the osc8 links feature when installing mdcat, … 🤷‍♂️ but I don’t think mdcat’s at fault here, so I’ll close this issue.

[2019-01-31 14:52] #60 closed

[2019-02-15 12:37] lunaryorn opened #61 "Update token for Travis CI releases to Github"

[2019-02-28 16:04] rien333 opened #65 "Support images in Kitty"
[Kitty](https://sw.kovidgoyal.net/kitty/kittens/icat.html?highlight=images) is a modern terminal emulator that can [display images](https://sw.kovidgoyal.net/kitty/kittens/icat.html?highlight=images). It is likely one of the only crossplatform terminal applications that can do so (at least easily and out-of-the-box). It's probably as good as iTerm in displaying images, and possibly quite similar i

[2019-02-28 16:19] lunaryorn commented on #65
I can't either, particularly not for a terminal I don't use.

Thanks for the suggestion but you'll need to open a pull request to get this done.

[2019-03-28 22:41] lunaryorn opened #71 "Support strikethrough"

[2019-03-28 22:41] lunaryorn opened #72 "Support tasklists"

[2019-03-30 16:02] #72 closed

[2019-03-30 18:10] #71 closed

[2019-03-30 18:18] #61 closed

[2019-03-30 18:25] lunaryorn opened #73 "Fallback if strikethrough isn't supported"
iTerm2 and Terminal.app don't support strikethrough text; we should have a good fallback.

Currently the text just renders like normal text which isn't so good probably.

Follow up from #71.

[2019-04-14 19:51] rien333 commented on #3
This feature would be handy to parse out comments, as most markdown viewers/converters do (e.g. pandoc).  If you're interested in filtering out (html) comments specifically I could open up a separate issue tho.

[2019-04-28 15:50] amadeu01 commented on #50
![image](https://user-images.githubusercontent.com/11631092/56855530-e4331880-691e-11e9-9049-abbb24ed605b.png)

I'm having problem using less.

I simply tried `mdcat file.md | less`

[2019-07-03 07:04] tsonev7 commented on #54
@lunaryorn are you still doing this? :)
I can take this task if you don't have time to implement it.

[2019-07-03 08:06] lunaryorn commented on #54
I [never said that **I** would do this](https://github.com/lunaryorn/mdcat/issues/54#issuecomment-451738832).

If anyone wants this they’ll have to make a pull request.

[2019-07-29 15:44] geoff-codes commented on #3
Render it with [w3m](https://sourceforge.net/projects/w3m)?

[2019-07-29 15:52] geoff-nixon opened #83 "`mdcat` can't handle badges (Travis CI) in iTerm2"
The current version of `mdcat` hangs when trying to render badge syntax in the current version of iTerm2, as in the project's own README.md:

[code]

It just hangs:

<img width="682" alt="mdcat-README md" src="https://user-images.githubusercontent.com/3162811/62062575-1bdf8400-b1de-11e9-9acf-49fbad1fd537.png">

Taking that block out resolves the issue.

Renders as
[code]
in Terminal.app.

...?

[2019-07-29 16:08] lunaryorn commented on #3
No.

[2019-07-29 16:18] lunaryorn commented on #83
Hangs forever?  Maybe you’ve got network issues and it can’t fetch images?

If that’s not the cause I guess you’ll have to debug it.  See I don’t have this issue so I can’t reproduce it now and I really don’t have time to try.

[2019-08-07 21:19] lunaryorn commented on #83
@geoff-nixon I'm closing this issue; please feel free to reopen if you've got more debug info.

[2019-08-07 21:19] #83 closed

[2019-09-07 22:27] dustymabe opened #88 "inline links in gnome-terminal on Fedora 29 VTE_VERSION=5404"
Inline links don't seem to be working for me in gnome-terminal on Fedora 29 (`gnome-terminal-3.30.3-1.fc29.x86_64`). I grabbed the [0.13.0](https://github.com/lunaryorn/mdcat/releases/download/mdcat-0.13.0/mdcat-0.13.0-x86_64-unknown-linux-musl.tar.gz) release and tried to `mdcat README.md` and I still see the links below the text:

[code]

My VTE environment variable is:

[code]

[2019-09-08 07:03] lunaryorn commented on #88
I'm sorry to hear that `mdcat` isn't working as expected, but I don't think I have the time to fix this.     You'll need to fix this yourself.

[2019-09-08 13:22] dustymabe commented on #88
No worries. It's possible I'm doing something wrong. Wondering if anyone else is having this same problem.

[2019-09-09 17:46] getaaron opened #90 "`cargo install mdcat` fails with llvm error"
[code]

Compiles many dependencies successfully, then fails on `onig_sys`:

[code]

Running this on Debian Linux (Debian 10, aka "Buster")

[2019-09-10 07:56] lunaryorn commented on #90
I’ve also seen this.  It’s an issue with onig sys; there’s already a ticket in the rust-onig Github repo.

Not sure if we can fix this in this here; if so I’d appreciate a pull request because I have no time to look at this.

[2019-09-10 15:39] getaaron commented on #90
Fixed this with:

[code]

Will open a README PR

[2019-09-10 18:50] lunaryorn commented on #90
for reference https://github.com/rust-onig/rust-onig/issues/109#issuecomment-529928412

[2019-09-29 15:03] gitbugr commented on #50
I was having the same issue using Mac OS. This works:
`mdcat file.md | less -r`

[2019-10-01 20:01] Seirdy opened #96 "Support Pandoc-style fenced code attributes"
The `fenced_code_attributes` Pandoc extension allows code blocks to contain attributes
describing HTML classes and attributes. The Pandoc manual has a
[section](https://pandoc.org/MANUAL.html#fenced-code-blocks) on this feature.

The main reason why this has been a problem for me is that Pandoc's markdown output
formats my code blocks like so:

[code]

Simply handling the curly-brace syntax would

[2019-10-02 01:38] lunaryorn commented on #96
mdcat only supports commonmark.  I’m sorry but this is out of scope.

I suggest you reimplement mdcat on top of Pandoc’s API to use its special Markdown dialect.

[2019-10-02 01:38] #96 closed

[2019-10-05 14:35] sc0ttj opened #97 "a 32 bit build?"
Any chance?

[2019-10-05 14:40] lunaryorn commented on #97
I'm sorry but it's long since I've seen a 32 bit system, so personally I'd not like to spend my time on configuring a 32 bit build.

Feel free to open a pull request which adds a 32 bit build—depending on the impact I might ask to port the entire release build setup to Github actions first, though 😇

Note that you can always build yourself: Just install rustup and `cargo install mdcat` :)

[2019-10-05 14:40] #97 closed

[2019-10-08 16:21] matthiasbeyer opened #99 "pulldown-cmark outdated"
Hi,

I tried to update the pulldown-cmark dependency for this crate, but it seems to be non-trivial.

Could you please update the dependency and release a new version? :smiley: would be awesome! If you care I can share my effort, but it is not very much and you'll probably reproduce it in a few minutes.

[2019-10-08 18:35] lunaryorn commented on #99
@matthiasbeyer I'm sorry but I don't think I will.  I can't see anything in the changelog of this version that'd affect me, and I just don't have time (nor motiviation, tbh) to update just for the sake of updating.

[2019-10-08 18:42] matthiasbeyer commented on #99
I understand your reasons. I will have a closer look then, thanks for your time and developing this crate. I'll leave this open so others can see it.

[2019-10-25 21:49] #99 closed

[2019-12-14 18:58] lunaryorn commented on #65
Closed by #104

[2019-12-14 18:58] #65 closed

[2019-12-14 20:16] rien333 commented on #65
So cool!

[2019-12-22 10:58] #88 closed

[2020-01-01 00:36] norman-abramovitz commented on #73
ITerm2 does support strikethrough in version 3.3.7 at least.   I am wondering if it is a profile setting that might need to be changed.

<img width="490" alt="Screen Shot 2019-12-31 at 4 35 15 PM" src="https://user-images.githubusercontent.com/13754664/71636872-ae4fdd80-2beb-11ea-9446-69500f14cb27.png">

[2020-01-01 00:46] norman-abramovitz commented on #73
It actually looks like pulldown_cmark supports strikethrough already

<img width="526" alt="Screen Shot 2019-12-31 at 4 45 04 PM" src="https://user-images.githubusercontent.com/13754664/71636948-1eab2e80-2bed-11ea-89e0-71ec7e8f0439.png">

[2020-01-10 16:48] #54 closed

[2020-02-08 21:40] friederbluemle commented on #50
@gitbugr - Thanks, this _almost_ works. This only minor problem are the "jump mark" indicators in iTerm2: First, they drawn in the incorrect positions, and the scrolling behavior is very odd. They will move up with the text when scrolling down (as expected), but stay in place when scrolling up (i.e. only the text will move down, the jump marks will remain at the same visible location). Is there an

[2020-02-08 22:37] friederbluemle commented on #50
Just found that the following will print the iTerm2 jump marks in the correct location, but the scrolling problem still persists:

    mdcat REAMD.md | less -rX

[2020-02-29 19:24] Fidgetcetera opened #124 "Image Scaling with Kitty"
This is mostly an inconsistency between how kitty normally behaves with images, and how it seems to work in mdcat.

if i mdcat a file that has an image too wide for the current kitty window, the image just doesn't load. however, if i `kitty icat` that same image, it shows up, scaled down to fit the terminal window appropriately.

is this intended mdcat behavior?

[2020-03-04 22:13] lunaryorn commented on #124
I don't think so, but then I don't use kitty and didn't write this part of mdcat.

I guess it should scale down, and I think it used to when this feature was initially contributed to mdcat.

I guess I broke it when refactoring or perhaps by updating the image crate but I don't know why or how.  In any case I don't have time to fix it; if you'd like it fixed please do open a pull request.

[2020-03-12 18:06] ericonr commented on #50
@friederbluemle I'm currently using the following function in fish shell:

[code]

It's probably (definitely) overkill, but it guaranteed completely correct behavior for everything.

[2020-03-20 00:21] brandonkal commented on #3
I'm not sure what the aversion is to using `w3m -dump`. The w3m browser isn't even 2 MB and is available by default on many Linux distros. The Homebrew w3m doesn't have image support as far as I can tell though...

But if you don't want to render any html, it would be nice to at least handle the block below:
[code]
Centered images are often the only HTML in markdown documents such as the README.md

[2020-03-20 05:58] lunaryorn commented on #3
I don't think w3m would work well, so I'll not do it myself.  You say it doesn't have image support so it wouldn't even fix the one case you're interested in would it?

But go ahead and make a pull request with a prototype implementation and we can try it and see whether it's a viable solution.

In any case it won't happen if you don't do it; that's why there's a "help wanted" label 🤷‍♀️

[2020-03-22 02:05] WHK102 opened #129 "A very good idea in a lousy package manager"
Please, add support for snapcraft, apt (.deb) or yum (rmp) final package.

[2020-03-22 09:24] lunaryorn commented on #129
Go ahead, make a pull request.

[2020-03-22 09:24] #129 closed

[2020-04-15 17:19] #73 closed

[2020-04-15 18:04] #90 closed

[2020-04-15 18:04] lunaryorn commented on #90
Thanks to #131 mdcat 0.16.0 now builds without Clang and LLVM.

[2020-04-15 18:35] getaaron commented on #90
Nice!

[2020-04-15 18:42] ericonr commented on #2
I'd like to take a crack at it! Do you think the program would have to detect if the terminal properly supports Unicode, or would it be ok to use it directly?

And do you have any idea about how wrapping a table would work? Or can that situation be ignored?

[2020-04-15 18:50] lunaryorn commented on #2
@ericonr You can assume a modern terminal with decent font, unicode and all.  It's 2020 after all.

As for wrapping, no, I don't.  That's something you'll need to figure out if you'd like to try it.  I don't know how it could look like, it just needs to, well, kinda work for the general case, as measured by my gut feeling :wink: )

[2020-05-01 19:32] fspillner commented on #124
@Fidgetcetera Thanks for reporting this. I've opened a PR aiming to fix your issue in general. You may have a look in my PR and test my fix. Additionally, the resizing may not work as expected and check my PR for the details.

[2020-05-04 10:26] ukch opened #135 "Usage with lesspipe/lessfilter"
I am trying to use your tool as a filter for [less](http://www.greenwoodsoftware.com/less/) using [lesspipe](https://www-zeuthen.desy.de/~friebel/unix/lesspipe.html). Doing a simple test on the provided sample file works mostly, but the link at the end is rendered as follows:

[code]

I assume this is probably an issue with less not supporting whatever feature you are using here, but I was wonderi

[2020-05-07 12:27] lunaryorn commented on #135
mdcat prints an inline link here. A fallback exists but isn't used here; you probably use a terminal which supports inline links, but mdcat doesn't detect the intermediate less which messes links up.

Perhaps there's a flag to `less` which tells it to either drop unknown OSC codes or pass them through to the terminal emulator.  There's also an internal `--ansi-only` flag for `mdcat`, but so far it

[2020-05-14 10:08] lunaryorn opened #136 "Suppress broken pipe error when piping mdcat"
`mdcat foo.md | head` shouldn't error.

[2020-05-14 10:11] lunaryorn opened #137 "Check commonmark spec test cases"
Run `mdcat | ansi2html` for all spec test cases <https://spec.commonmark.org/0.29/spec.json> to catch rendering regressions.

[2020-05-15 17:29] #137 closed

[2020-05-15 19:59] #136 closed

[2020-05-16 19:43] lunaryorn opened #138 "Make MPL"

[2020-05-16 19:43] lunaryorn opened #139 "Proper error type"
No more dyn Error

[2020-05-20 07:07] #138 closed

[2020-05-24 10:38] #124 closed

[2020-05-24 14:05] lunaryorn commented on #124
@fspillner @Fidgetcetera I released 0.17.1 which should fix this issue.

[2020-05-26 06:47] lunaryorn opened #140 "Colour image links in magenta"

[2020-05-26 06:48] lunaryorn opened #141 "Render image links as inline links"
If the terminal doesn't support images but inline links render images as inline links so that we can at least open the image easily.

However take care not to render an image within an existing inline link as inline link; we cannot stack links.

[2020-05-26 06:49] lunaryorn opened #142 "Rewrite rendering algorithm"
Replace the `Context` uber object with a clearly defined rendering state and write down all state transitions explicitly.

[2020-05-26 06:50] lunaryorn opened #143 "Turn nested state into explicit and bounded state stack"
Follow up from #142

Don't allow unbounded nesting, but instead limit the amount of nested state and bail out if the stack grows too much.

[2020-05-26 06:51] lunaryorn opened #144 "Remove colour from block quotes"
Just render block quotes as italic text; the striking green colour distracts too much.

[2020-05-28 21:07] #142 closed

[2020-05-28 21:30] lunaryorn commented on #139
Use https://github.com/dtolnay/thiserror to declare custom errors and https://docs.rs/fehler/1.0.0/fehler/index.html to reduce the `Ok` boilerplate.

[2020-05-28 21:34] lunaryorn commented on #139
Or pick https://github.com/dtolnay/anyhow and call it a day

[2020-05-29 06:29] #143 closed

[2020-05-29 06:30] lunaryorn opened #145 "New screenshot"

[2020-05-29 15:38] lunaryorn opened #146 "Respect --local-only"
Currently it's silently ignored

[2020-05-29 16:28] #146 closed

[2020-05-29 19:57] lunaryorn opened #147 "Log internal errors"
Use [env_logger](https://docs.rs/env_logger/0.7.1/env_logger/) to log internal errors which we normally discard.

[2020-05-29 21:29] #139 closed

[2020-05-31 07:18] nabramovitz commented on #135
Have you tried "mdcat <files> | less -r"?

[2020-06-08 00:16] dgolds commented on #135
less -r works for me on iTerm2 on mac!

Thanks. That would be nice to have in the readme

[2020-06-14 07:07] Abd4llA opened #148 "thread 'main' panicked on Fedora 32 with kitty"
I downloaded 0.18.2 and it crashed reading the README.md in the downloaded release linux64 tar.

[code]

Screenshot
![Screenshot from 2020-06-14 09-06-44](https://user-images.githubusercontent.com/1930204/84587317-739ad400-ae1e-11ea-81f4-304fb4410fcf.png)

[2020-06-14 11:46] #148 closed

[2020-06-14 11:54] lunaryorn commented on #148
Sorry for my stupid mistake.  I pushed a fix and will make a new release today.

[2020-06-14 15:20] lunaryorn commented on #148
@Abd4llA  0.18.4 is out.

[2020-06-15 20:26] #144 closed

[2020-06-24 02:59] DevinR528 opened #150 "OOM in async event loop"
I am using this to display messages for a chat app [rumatui](https://github.com/DevinR528/rumatui/) `mdcat` is working great and is probably my favorite part of the whole thing. Thanks!

After doing some upgrades, not to `mdcat` but, other deps I started getting OOM errors. What I think is happening is in a somewhat tight async loop I'm calling the `mdcat::push_tty` function this OOMS with a stack

[2020-06-24 04:13] lunaryorn commented on #150
I'm sorry but how am I supposed to help here?  I don't see what I should do here.

[2020-06-24 18:26] lunaryorn commented on #150
@DevinR528 That said, it looks as if you [changed the code](https://github.com/DevinR528/rumatui/commit/6e1e6f22b37f690e574c491536dc934776d253d0) around the time you opened this issue; would you like me to look at the old or the new version?

As far as I can see the old version creates a new `syntect::SyntaxSet` for `mdcat::push_tty` call; please be aware that syntax sets are expensive to construc

[2020-06-24 18:26] #150 closed

[2020-06-24 18:48] DevinR528 commented on #150
Thanks for taking a look at it at all sorry if I was too vague before it was a bit late and I had been looking at it for a while. I wasn't making a criticism, from my investigations, and as you said `syntect` is the (justifiably) expensive one. If I make any progress I'll be sure to open a PR in case you are interested.

Thanks again!

[2020-06-28 23:10] AEiosApp opened #151 "Any chance to make it nicer in VSCode?"
Hi, really like this tool, btw it doesn't looks nice in VSCode terminal of my Mac.
Any chance or suggestion to make it nicer?

![image](https://user-images.githubusercontent.com/19554725/85960624-94107580-b96a-11ea-9be6-7506ceeca50d.png)

[2020-06-29 11:13] lunaryorn commented on #151
I'm not sure what I'm supposed to see in that screenshot, and what changes you'd like to have 🤷🏼‍♂️

In any case if you'd like to change the output you'll need to make a pull request because for my part I'm ok with how it looks currently and won't change it myself.

[2020-06-29 11:13] #151 closed

[2020-06-30 09:11] lunaryorn opened #152 "Add pagination to mdcat"
Add pagination to `mdcat`.

Need to take care to omit incompatible escape codes like iTerm jump marks or OSC links (these may work with `less -r`/`less -R` though).

[2020-06-30 09:13] lunaryorn commented on #135
Closing in favour of #152.  Pull requests welcome.

[2020-06-30 09:13] #135 closed

[2020-06-30 09:14] lunaryorn commented on #40
See #152 for an alternative approach.

[2020-07-03 08:10] lunaryorn commented on #50
Closed in favour of #152

[2020-07-03 08:10] #50 closed

[2020-07-03 08:32] #140 closed

[2020-07-03 08:32] #141 closed

[2020-07-07 20:01] lunaryorn opened #154 "Find replacement for file invocation"
Consider eg https://crates.io/crates/tree_magic_mini

[2020-07-14 12:27] RyanGreenup opened #155 "thread 'main' panicked at 'Event Stacked(StateStack"
I use this a lot, it's arguably the best thing sliced bread, occasionally I get errors like to the effect of `thread 'main' panicked` and I figured I should follow the error message and make an issue.

It's ~~possibly~~ probably sloppy syntax on my end but I couldn't fix it when I was playing around with it.

when i run `mdcat ./myfile.md` this is the verbatim output I get:

<details><summary>CLIC

[2020-07-14 12:35] RyanGreenup commented on #155
Actually I just realised, this is probably caused by footnotes as per #1, if that sounds about right feel free to close this.

[2020-07-14 13:13] lunaryorn commented on #155
@RyanGreenup Please provide a minimal Markdown file to reproduce this issue and paste in a code block.  It's impossible for me to extract the original input from your comment, so I can't test or reproduce.

[2020-07-14 13:31] lunaryorn commented on #155
That said the error message indicates that it's footnotes causing this which mdcat doesn't yet support, but actually mdcat doesn't enable footnotes in the parser and should never even try to render footnotes.  I wonder why it attempts to nonetheless; that's worth a closer look.

[2020-07-15 15:16] RyanGreenup commented on #155
Oh sorry about that, *GitHub* kept escaping the backticks and I forgot to indent it, I've [got it here](https://pastebin.com/gnfaeLF7) in case there is formatting issues.

I think it's just the first 50 or so lines that causes the issue but I included the whole thing just in case.

It's good to hear that it shouldn't fail despite the footnotes (even if they aren't *prettyfied*), I've had this occu

[2020-07-15 15:48] lunaryorn commented on #155
@RyanGreenup Thanks for the file; I'll check it out.

[2020-07-22 07:34] lunaryorn commented on #155
Looks as if the underlying markdown library parses footnotes even when they're not enabled, see https://github.com/raphlinus/pulldown-cmark/issues/459

[2020-08-01 16:41] #152 closed

[2020-08-04 02:38] matu3ba opened #158 "Putting alacritty into feature list."
Add alacritty terminal to README.md

[2020-08-04 06:22] lunaryorn commented on #158
Please do open a pull request.

[2020-08-04 06:22] #158 closed

[2020-09-01 17:04] #155 closed

[2020-09-01 18:32] lunaryorn commented on #155
@RyanGreenup 0.21.1 is on its way which fixes this issue.

[2020-09-15 16:17] agschaid commented on #4
That would be a great to have. E.g. in cases where links get transferred to the bottom of the document the shorter lines are very disturbing.

Just give me 3 or 4 months to learn a little Rust (I really want that feature ;) )

[2020-09-15 18:01] igalic commented on #4
consolemd does, indeed uses the python equivalent of textwrap: https://github.com/kneufeld/consolemd/commit/6a2c6eecb9ab0589f0a7c8e3db55192e6cc06ae1
which means it'll occasionally go under the provided wrap limit, but, eh it's good enough as a start

[2020-09-15 20:00] lunaryorn commented on #4
@agschaid Take all the time you need; I don't think I'll fix this anytime soon.

@igalic  I don't think that's good enough for me.  It ought to be done right.

[2020-09-15 21:27] igalic commented on #4
i understand, @lunaryorn!

i suppose the rust way would be to create a wrapper type that can represent the output on the console, but can also be used as a `String` or `&str` for feeding into textwrap

[2020-09-16 12:35] gigs94 opened #161 "Document how to integrate it with cat"
Just a suggestion to add a help file that could be installed in *nix systems that would integrate with the original cat you could write functions (if in bash):

[code]

[2020-09-16 13:01] lunaryorn commented on #161
Thanks but I won't do that.

[2020-09-16 13:01] #161 closed

[2020-09-18 13:41] orasunis commented on #4
I believe there is no need to create a wrapper type as `textwrap` supports ANSI escape codes for a few months now (https://github.com/mgeisler/textwrap/pull/179).
I don't know how well that works with windows.

[2020-09-18 14:43] qlcom opened #162 "can't cat concatenate markdown?"
you should better change the description.

[2020-09-18 16:30] #162 closed

[2020-09-18 16:32] lunaryorn commented on #162
Is this some kind of joke?

[2020-09-18 16:34] qlcom commented on #162
No.

You should change the description.

[2020-09-18 16:35] lunaryorn commented on #162
Seriously?

[2020-09-18 16:38] lunaryorn commented on #4
@orasunis I guess that'd be a good start.  I haven't really looked at it, but if it handles colours, OSC 8 hyperlinks and iterm marks well, it might even be a perfect solution :slightly_smiling_face:

[2020-09-18 16:38] qlcom commented on #162
a better description for this program.

[2020-09-18 16:39] lunaryorn commented on #162
I'm sorry but this is not the way it works.

[2020-09-18 16:40] qlcom commented on #162
how does it work?

[2020-09-18 16:52] lunaryorn commented on #162
You'll find out, but not here.  I'm sorry but I do not find this conversation valuable use of my time, nor will I change the description of this repository.

[2020-09-21 09:05] agschaid commented on #4
just to put my "commitment" into perspective: I have two kids. So my "3 or 4 months" can quickly grow into "2 or 3 years" ;)

I think this is a good project/motivation for me to get a little into rust. But don't count on me.

[2020-09-21 09:22] lunaryorn commented on #4
@agschaid There's no commitment here.  We all do this in our free time, we all have a life and priorities :slightly_smiling_face:

[2020-09-30 08:17] LiquidityC opened #163 "Feature request: Possibility to hide image dep behind a feature"
Hi, I'm using mdcat in a terminal application for rendering *in application* help files.

Some of my users run the application on headless servers. These sometimes lack support and libraries for image rendering which causes problems when compiling my application on those machines due to the image dependency having additional dependencies on OS libraries.

I haven't taken a look at the code so I ha

[2020-09-30 10:11] lunaryorn commented on #163
With reqwest disabled mdcat links statically against musl; what OS libraries are you talking about?

In any case if you'd like to change mdcat's build setup you'll need to make a pull request; personally I'm fine with how it is and won't make any changes myself.

[2020-09-30 10:11] #163 closed

[2020-09-30 11:16] LiquidityC commented on #163
I'm not certain really. I just got the message directly. I'll get some details and work on a PR if I get more details. Thanks for the response.

[2020-10-02 12:56] MinerChAI commented on #3
w3m works only on Xorg and not with all terminal emulators

[2020-10-05 08:16] tddschn opened #164 "[Feature Request] Image Caching"
Image Caching will make mdcat render the content of markdown files with Internet images much faster the second time,
so I think it might be a good idea to implement Internet images caching (in the feature). :)

[2020-10-05 08:25] lunaryorn commented on #164
That's a nice idea, but also one that you'll need to implement yourself, because I don't need it myself and don't want to implement it myself, even less so since there's a lot of complexity behind this simple idea with regards to cache expiration, etc.

Feel free to open a pull request.

Meanwhile I close this as I prefer to keep only those issues open which I intend to work on myself at some poin

[2020-10-05 08:25] #164 closed

[2020-10-05 09:02] tddschn commented on #164
Thanks for the quick reply! That's understandable.

I am aware of the complexity behind this feature. This feature is nice-to-have but not necessary to me either. Guess we'll leave it closed for now. :)

[2020-10-18 11:53] #145 closed

[2020-10-23 17:08] lunaryorn opened #168 "Replace reqwest with ureq"
See https://github.com/algesten/ureq

Looks simpler than reqwest and likely has much less transitive deps

[2020-10-26 21:49] lunaryorn commented on #168
Closed by !169

[2020-10-26 21:49] #168 closed

[2020-10-29 00:10] tylerszabo opened #170 "Compliation failure in Debian 10"
Building on Debian 10 fails after a5ab0dd2d225971a1c11ca9fb30daf27b59d33a8 (last good release `mdcat-0.21.1`)

Reproduce with the following `Dockerfile`:

[code]

Build and run `docker build -t debian-mdcat:latest . && docker run --rm -it debian-mdcat:latest`

Output
[code]

[2020-10-29 01:48] norman-abramovitz commented on #3
I am wondering if conceptually using something like [html2text](https://github.com/aaronsw/html2text) or [html2markdown](https://github.com/baynezy/Html2Markdown/tree/master/src/Html2Markdown) would make some sense?

Yes, we would need to rewrite the code in rust, but would the concept work, of identifying the HTML block,  feed it to the converter, and then feed the output back into your markdown

[2020-10-29 02:47] norman-abramovitz commented on #2
Maybe something like[ html-table-to-markdown-converter](https://github.com/johnbeech/html-table-to-markdown-converter).  An then we can write a simple display module.   I am assuming the pushdown_markdown parser generates HTML.   Maybe this converter could be used when we see a Hmtl table as well.

[2020-10-29 05:43] lunaryorn commented on #170
It still builds on CI so I guess you need a more recent Rust version.

[2020-10-29 05:43] #170 closed

[2020-10-29 17:01] tylerszabo commented on #170
From a bit of searching it looks like this type of issue is pretty common with Rust projects on Debian and the suggested workaround is to use `rustup` rather than the repository version of Rust and Cargo. The following succeeded:

[code]

Thanks for triaging :)

[2020-11-29 02:25] ColonelBuendia opened #171 "Document causing a crash"
I have a document that causes a crash, tested on my local machine running Ubuntu 20, and a Synology NAS.  I  don't have much insight into the exact issue, and no expectations of any kind of change, just grateful for the tool and hence following the instructions on the error message.  The document is not properly, or even sensibly, formatted as a note.

The message it crashed with is
[code]

with `

[2020-11-29 03:21] ColonelBuendia commented on #171
I narrowed down the behaviour to unprotected regex strings, a few examples here, but much more importantly, using 0.22.1, the problem does not appear anymore.  I'll close this for that reason.

[regex1.txt](https://github.com/lunaryorn/mdcat/files/5611589/regex1.txt)
[regex2.txt](https://github.com/lunaryorn/mdcat/files/5611590/regex2.txt)
[regex3.txt](https://github.com/lunaryorn/mdcat/files/5611

[2020-11-29 03:21] #171 closed

[2020-12-03 11:36] mgeisler commented on #4
Hi all, I saw a link to this on https://github.com/mgeisler/textwrap/pull/179 -- just wanted to say that textwrap will indeed ignore all ANSI escape sequences since version 0.12. Ignoring means "they don't contribute to the string width", so the wrapping computations are not affected by the escape characters any longer.

I've actually been playing around with this recently and I wrote a little dem

[2020-12-03 13:09] lunaryorn commented on #4
ANSI sequences aren't the issue; the issue is more that pulldown is a pull parser, so we don't get the text at once but rather scattered over many different events.

[2020-12-03 13:41] mgeisler commented on #4
Hi @lunaryorn,

I just realized that we talked about stateful wrapping over in https://github.com/mgeisler/textwrap/issues/224 :-)

So yeah, if you get your text one piece at a time, then it'll be harder to use textwrap. I "cheated" and simply accumulated the text in  https://github.com/mgeisler/textwrap/issues/140#issuecomment-418199515, but I understand that you have a different architecture in

[2020-12-08 12:25] nicolaipre commented on #2
Are there any recent plans to add support for this in mdcat?

[2020-12-14 15:54] lunaryorn commented on #2
No, I do not have any such plans, hence the "Help wanted" label.

This won't get done any time soon unless some opens a good pull request about it.

[2020-12-14 16:04] norman-abramovitz commented on #2
I am thinking of working on this issue during my holiday/lockdown break.  It will depend on my availability with my family.  I will need to familiarize myself with all the latest changes first.

[2021-01-12 17:16] q66 opened #173 "fails to build on every non-x86/arm platform since ureq"
6fbb20a805be769d1b49503d053f2378a4547747 switched to `ureq`, which seems to be using `rustls`, which uses `ring`, which doesn't build on any platforms other than windows/mac/linux x86/arm

[2021-01-12 18:33] lunaryorn commented on #173
I am sorry, yet it still builds on all platforms I care for.  I'll not do anything about this, and close this issue hence.

[2021-01-12 18:33] #173 closed

[2021-01-12 18:44] q66 commented on #173
well then, thanks for nothing

[2021-01-12 18:46] ericonr commented on #173
@lunaryorn would you accept a toggleable feature for `ureq`, and adding back the curl fallback? Or just omit the image download functionality completely if `ureq` is disabled.

[2021-01-12 18:55] lunaryorn commented on #173
I am sorry but I do not think that I owe you anything.

[2021-01-12 18:56] lunaryorn commented on #173
@ericonr Feel free to open a pull request for the latter; I'll consider it if it's not too invasive.

[2021-01-12 18:57] q66 commented on #173
i'm not implying that, it's perfectly fair - it just means another package to drop

[2021-01-12 20:27] lunaryorn commented on #173
Drop from what?  Those platforms you listed are the major ones aren't they? What platform do you specifically care about? Wouldn't it be wise to make ring build on that platform?

[2021-01-12 20:37] q66 commented on #173
drop from our distribution, on some architectures; in this case we specifically care about POWER/PowerPC family, but there's more out there (RISC-V, s390x, etc...)

I in fact *did* at one point port ring to all POWER targets (it was fully passing testsuite and so on), but upstream is hostile and will not accept any new target support unless it's corporate sponsored (i.e. if you submit a PR you bas

[2021-01-12 21:38] lunaryorn commented on #173
These architectures are rather obscure with regards to mdcat's supposed target audience, aren't they?  I thought powerpc on consumer systems died with Intel Macs, and you wouldn't run mdcat on an embedded system would you?  Did anyone really use mdcat on a PowerPC or sparc?

As for ring, I believe accusations as strong as those need some source or proof, lest they be understood as mere gossip.

In

[2021-01-12 21:52] q66 commented on #173
there are currently modern high-performance POWER based workstations available (i am, in fact, typing from one, and it works exactly as a regular desktop, has all the usual applications and desktop environments, etc.) and people still use their older hardware as well; regardless of your perceived suitability of a platform, a tool like this doesn't have much of a reason to rely on things that are n

[2021-01-12 22:34] lunaryorn commented on #173
I respectfully disagree with most of what you said and would rather prefer evidence consolidated but scattered, but I believe we need not discuss this any further.

This tool works everywhere I need it to work; the rest is a matter of pull requests.

[2021-02-18 21:45] igalic opened #177 "compiling fails on FreeBSD 13"
[code]

FreeBSD's [`ioctl(2)`](https://man.freebsd.org/ioctl(2)) has a signature of:

[code]

What rustc suggests makes it compile (and works!), but i'm not sure if that won't throw off clippy on other platforms.

[2021-02-19 05:46] lunaryorn commented on #177
🤷‍♂️ Try it?  Make a pull request and we'll see if clippy is happy 🙂

[2021-02-22 17:57] #177 closed

[2021-04-29 16:31] mkatychev opened #180 "Unable to modify link values"
It seems that `push_tty` is ignoring modified [tag events](https://docs.rs/pulldown-cmark/0.8.0/pulldown_cmark/enum.Event.html).

[code]

The snippet above produces the output below:

[code]

My expectation was that the tty output would have `[1]: ./url.not_md` as the last line.
Is there some other place where mdcat looks for the inline link?

[2021-04-29 17:25] lunaryorn commented on #180
In the corresponding end tag event I guess 🙂

[2021-04-29 17:25] #180 closed

[2021-04-29 17:54] mkatychev commented on #180
@lunaryorn Yeah this was my oversight completely. I tried returning an end tag without modifying the match arm 🤦, shame on me:

[code]

[2021-04-29 20:39] lunaryorn commented on #180
No worries.

You ought to match on the eve tag if you'd like to change an end tag, but I guess that's a copy paste error in die comment 🙂

Cheers

[2021-05-04 18:16] oblitum opened #181 "Presence of links cause unexpected line breaks in paragraphs"
[code]

This happens when the link appears standing alone in a given line, but line breaks shouldn't be present in rendering at all, unless they were inserted explicitly by double whitespace or `<br/>`.

[2021-05-04 18:25] oblitum commented on #181
Actually never mind. This isn't an issue with links in specific at all (but happens more often for me due to them).

[code]

`mdcat` is simply rendering newlines, but it shouldn't.

[2021-05-04 18:30] lunaryorn commented on #181
That's #4.  Pull requests welcome.  Closing as duplicate.

[2021-05-04 18:41] oblitum commented on #181
?

Personally I don't view as a text wrapping problem, I actually don't want text wrapping to any column at all.

[2021-05-04 18:47] lunaryorn commented on #181
What _is_ the problem then?  In your second example mdcat appears to render line breaks exactly as they appear in the original markdown file; if neither that nor column wrapping is what you want then what do you want?

In any case my point still stands: Pull requests welcome.  I don't see an obvious bug here myself :shrug:

[2021-05-04 18:58] oblitum commented on #181
The bug is to render line breaks exactly as they appear in the original Markdown file. Proper rendering is required to consume them, and it's unrelated text wrapping.

[2021-05-04 19:23] lunaryorn commented on #181
I see…

…so this _is_ issue #4 :slightly_smiling_face:

Says who?  It's not as if there's a law about this…

I think it's not.  Someone's got to wrap text if it exceeds the column limit of the terminal window.  If mdcat doesn't the terminal does…

And you want mdcat to discard soft linebreaks, and thus effectively collapse every paragraph into a single long line which makes it a lot more likely th

[2021-05-04 20:25] oblitum commented on #181
No, it's not. Proof: you can have current `mdcat` output wrapped to a given column, and still having no fix on unwanted line breaks, they can still just be there, on top of the additional breaks coming from bare long line wrapping to column.

https://daringfireball.net/projects/markdown/syntax:

Emphasis mine.

CommonMark follows:

- https://spec.commonmark.org/0.29/#paragraphs
- https://spec.comm

[2021-05-04 20:31] lunaryorn commented on #181
Cool bye

[2021-06-19 22:01] DrSensor commented on #2
Check out [termimad](https://github.com/Canop/termimad)!
It's all-in-one crate for rendering markdown in terminal.

[2021-07-02 07:59] rashil2000 opened #183 "Generate PowerShell completions"
https://github.com/lunaryorn/mdcat/blob/c1e594d856e58a9a3ae25d484fb1ff4c698526ec/build.rs#L22

You can add `Shell::PowerShell` here :)

[2021-07-02 08:26] lunaryorn commented on #183
Please do make a pull request 🙂

[2021-07-02 10:51] rashil2000 commented on #183
Done :)

[2021-07-04 13:04] #183 closed

[2021-07-19 09:52] rashil2000 opened #187 "[Question]: How to print images in Wezterm?"
I recently saw that image support was added for wezterm. However, I haven't got it working.

![image](https://user-images.githubusercontent.com/46838874/126141483-bfec38e8-3064-4205-87f3-1424b655b8e8.png)

Is there a setting that needs to be configured?

[2021-07-19 10:49] lunaryorn commented on #187
@rashil2000 Make sure to update to the latest release; other than that I'm sorry to say that you're on your own.  I do not provide support for mdcat.

[2021-07-19 10:49] #187 closed

[2021-07-19 13:01] rashil2000 commented on #187
I'm on the latest version, 0.23.2, that's why I said _recently_.

[2021-07-19 13:16] lunaryorn commented on #187
@rashil2000 Please spare me the passive aggressive emphasis; I can't guess what version "recently" should refer to.

[2021-07-19 13:30] MuhammedZakir commented on #187
@rashil2000: what is the output of `mdcat --detect-only`? Please also post the values of these environment variables:
* TERM_PROGRAM
* TERM_PROGRAM_VERSION
* TERM (does PowerShell use this?)

[2021-07-19 14:22] rashil2000 commented on #187
@lunaryorn I would like to sincerely apologize. I saw that the PR's (#182, #185, #186) were merged a few days ago so I assumed the recency was implied. It was really not my intention to sound aggressive.

@MuhammedZakir here are the values:

`mdcat --detect-only`: Terminal: WezTerm
TERM_PROGRAM: WezTerm
TERM_PROGRAM_VERSION: 20210718-221318-5904140a

PowerShell does not set the TERM variable, it i

[2021-07-19 17:35] lunaryorn commented on #187
@rashil2000 Thanks.  I'm very sorry for the misunderstanding, and would like to apologize myself for the harsh reply.

I hope you'll be able to solve this problem, and I am sorry that I cannot help you any further. :pensive:

[2021-07-20 04:06] MuhammedZakir commented on #187
- I use the exact WezTerm version and it works for me in Linux.
- As you can see, WezTerm indeed detects your terminal as WezTerm.

Does image works in WezTerm Windows version? Try: `wezterm imgcat \path\to\image`

If the above works, then it's a problem with mdcat. One thing that comes to my mind is problem with resolving path (win: `\` vs \*nix: `/`). I don't know how mdcat resolve relative path

[2021-07-20 05:36] lunaryorn commented on #187
Please understand that I don't provide support for mdcat.   I am sorry but I just don't want to spent my own time to debug and fix other people's problems 🤷‍♂️

This is.open.source after all: You can read, edit, and debug the code just as good as I can.

[2021-07-20 06:58] rashil2000 commented on #187
![image](https://user-images.githubusercontent.com/46838874/126275763-f27ca269-3f0d-4416-8111-757877acd86d.png)

[2021-07-20 13:15] MuhammedZakir commented on #187
[mdcat-0.23.0-x86_64-pc-windows-msvc.zip](https://github.com/lunaryorn/mdcat/files/6848473/mdcat-0.23.0-x86_64-pc-windows-msvc.zip)

Using above, see if the paths are resolved correctly. Paths will be printed above respective images.

[2021-07-20 13:30] rashil2000 commented on #187
![image](https://user-images.githubusercontent.com/46838874/126332153-c5d11803-6282-4b10-b9c7-c10a21c1c38d.png)

I think the beginning forward-slash is the problem.

See here:

![image](https://user-images.githubusercontent.com/46838874/126332498-6fcceef3-4c96-47a6-9be9-1bf56893afce.png)

[2021-07-20 22:24] rashil2000 commented on #187
Update: I just tried mdcat in bash shell (Git Bash/MSys2) and the images work there...

![image](https://user-images.githubusercontent.com/46838874/126402889-94a00a9b-0e5a-4316-8ca2-81bbf8c47ad8.png)

[2021-07-21 07:56] MuhammedZakir commented on #187
Can you try that using the executable I posted and tell me what the path is?

[2021-07-21 10:02] rashil2000 commented on #187
It prints out the same path as before

[2021-07-25 06:36] MuhammedZakir commented on #187
One last thing: `mdcat D:/path/to/img` work in bash (i.e. without leading slash)?

If it does work, then a simple fix is to remove the leading slash in images' path in Windows. Otherwise, remove leading slash only in PowerShell? The downside is that if a shell other than Powershell does not support path with leading slash, then we will have to add that to the list of shells to remove leading slash

[2021-07-25 06:50] lunaryorn commented on #187
I am sorry but I'm not.  This is too much of a hack in my opinion, and I'm not convinced that it is the only way.

You would need to figure out where that slash ultimately comes from, why it appears in some but not in other cases, and demonstrate why stripping it manually from the path is the only way around this.

[2021-07-25 15:23] rashil2000 commented on #187
Bash works both with and without leading slash, but PowerShell and Cmd don't.

The slash comes because the resolved URL (whether from `file` scheme or from `https` scheme) contains a leading slash in its path property. This is not a problem on Unix systems as they naturally start with leading slash, but it is a problem on Windows. I'm afraid there's no way other than to check for OS here and strip

[2021-07-25 16:24] lunaryorn commented on #187
Alright I don't think we need to take this any further 🙂

[2021-10-30 11:45] lunaryorn opened #191 "Remove OSC 8 detection"
Simply assume that all terminals support hyperlinks and print them unconditionally.

All terminals I care for support links, so this lets me remove a bit of code.

[2021-11-10 13:50] brian6932 commented on #2
Any update on this? It seems like [Clima](https://github.com/Canop/clima) can kinda do this, but doesn't work on everything, specifically local files

[2021-11-10 14:35] lunaryorn commented on #2
No there's not.  If there was you'd see it.  Meanwhile, pull requests welcome.

[2021-11-16 04:05] laoshaw opened #194 "mdcat panics if image title is in two lines"
Not quite sure if this is a mdcat bug:  if I split the image line into two lines as below, run `mdcat test.md` under kitty will abort as shown below.

test.md

[code]
run `mdcat test.md` it will report below errors:

[code]

put test.md above into one line it works fine.

[2021-11-16 08:36] lunaryorn commented on #194
It probably is; I've never seen this before and it doesn't seem to be part of the common mark test suite, so I don't think mdcat handles this.

I'll perhaps fix this at some point but it'll take time; to me this is a weird corner case so until I actually hit a document with this it's pretty low on my priority list.

If you need to have this fixed any time soon please do open a pull request.

[2021-11-16 12:42] laoshaw commented on #194
I agree, just add why this happens: pandoc converts html to markdown and if an image has a long line, pandoc will break it two into two lines and cause mdcat to misbehave, e.g.

[code]

[2021-12-07 19:09] arandomliz opened #195 "When using pagination images aren't displayed"
When using `mdcat` on the sample files (i.e. `common-marks.md`) using `mdcat -p common-marks.md` one will not see any images in the file.

Interestingly using `less -rX` will show images, but the location of these will brake when scrolling. Is there any solution to this? I'm using the kitty terminal version 0.23.1

[2021-12-08 06:35] lunaryorn commented on #195
No there's no solution. It'd require a pager which understands image sequences. Less doesn't, and I'm not aware of any other pager 🤷

[2021-12-08 08:38] arandomliz commented on #195
Ah oke. I thought something like that might be the reason for it. That's kinda sad actually :/

[2021-12-08 09:25] lunaryorn commented on #195
Well then it's gonna be sad for the time being :shrug:

[2021-12-08 19:13] #195 closed

[2021-12-17 10:04] cagdassalur commented on #161
I was checking the documentation excatly for this, turned to issues hoping for a solution. Maybe this has a place in documentation..

[2021-12-20 01:27] Mrfiregem opened #196 "Support images in foot"
Foot supports viewing images using sixel. It would be nice if mdcat was able to print images to the terminal like it does for others.

[2021-12-20 07:08] lunaryorn commented on #196
Please do open a pull request. I don't use this terminal and will not add this myself.

[2022-01-30 04:48] anicolao opened #197 "Can't figure out how to run commands on URL click"
I'm trying to run commands (like a console markdown viewer) inline in the same window that the URL click happened on, but I can't seem to do it.

The entire contents of `~/.config/kitty/open-actions.conf`:

[code]

When I click on a markdown link (e.g. generated with `ls --hyperlink=auto` on any directory with a `README.md`) the font resizes so I know I am hitting my open action rule, but the `sen

[2022-01-30 05:19] anicolao commented on #197
Posted to the wrong project, sorry.

[2022-01-30 05:19] #197 closed

[2022-01-30 05:46] anicolao commented on #197
But in case anyone comes across this, the fix is to notice that `send_text` the action and `send-text` the @ command are different, and this does work as intended:
[code]

[2022-02-05 07:50] lunaryorn commented on #191
Specifically less also does hyperlinks now, so we can really just get rid of this detection logic.

[2022-02-12 13:15] #191 closed

[2022-10-25 08:14] namespaceYcZ opened #208 "Feature Request: Self-hosted pager"
[Clima](https://github.com/Canop/clima) has its own pager so that people can read large markdown file without a pager. Though I can use less along with mdcat, but images turn out to be base64 code due to the Kitty image protocol.

[2022-10-31 21:43] lunaryorn commented on #208
You can use `mdcat -P` to have mdcat run `less` for you, and restrict display to compatible escape codes.

[2022-10-31 21:43] #208 closed

[2022-11-10 15:17] meredrica opened #214 "tab completion not working in zsh"
hi!

Tab completion for file names seems to be broken in zsh
steps:
[code]
then try to autocomplete the README.md

[code]

[2022-11-10 16:17] lunaryorn commented on #214
I can't ho you; I do not use zsh.

I'm sorry but you need to debug and fix this yourself.  Pull requests are welcome.

[2022-11-28 18:25] yzaguirre opened #215 "0.29.0 release hashes don't match for windows build"

[2022-11-28 18:57] lunaryorn commented on #215
Thanks for reporting. I can't reproduce this, tho.  I downloaded all files from the 0.29 release and ran the checksums. All passed:

[code]

I'm closing this issue, because without more details I can't do anything here 🙂

[2022-11-28 18:57] #215 closed

[2022-11-28 19:46] lunaryorn commented on #214
@meredrica I think I've found the issue, see #216

I'll make a new release with this fix soon; I'd appreciate testing 🙂

[2022-11-28 19:57] #214 closed

[2022-11-29 08:41] lunaryorn commented on #214
@meredrica 0.30.0 is out, with a change which hopefully fixes this issue.  Let me know if you still have issues with completion.

[2022-11-30 15:35] meredrica commented on #214
Hi!

Will do asap and get back to you